<h1>Chat</h1>
<form action="" id="messageForm">
  <textarea id="messageBox" cols="50" rows="3" placeholder="Input your message"></textarea>
  <input type="submit" id="submit">
  <div id="chatBox"></div>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/script.js"></script>