<p><img src="images/404.png" alt="404"></p>
    <h1>Oops! This Page Could Not Be Found</h1>
    <p>Sorry, but the page you just opened is not available. This page does not exist, has been deleted or renamed</p>
    <p><a href="/">Go to homepage</a></p>